<footer class="footer">
  <nav>
  	<ul class="ul-left">
  		<li><strong>Síguenos!</strong></li>
  		<li><div class="fb-like" data-href="https://www.facebook.com/pages/Hora-Salud/540637199289999" data-send="false" data-layout="button_count" data-width="40" data-show-faces="true" data-font="verdana"></div></li>	
  	</ul>
  	<ul class="ul-right">
      	<li><%= link_to "Soy médico",   '#' %></li>
      	<span class="divider">|</span>
    	<li><%= link_to "Consultas médicas en Santiago", '#' %></li>
    	<span class="divider">|</span>
	    <li><%= link_to "Privacidad", '#' %></li>
	    <span class="divider"></span>
    </ul>
  </nav>
</footer>